# Dépendances
node_modules/
.pnpm-store/

# Build Next.js
apps/frontend/.next/
apps/frontend/out/

# Build NestJS
apps/backend/dist/

# Turbo
.turbo/
coverage/

# Environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Prisma - client généré
prisma-client/

# Uploads
uploads/

# Screenshots
screenshots/

# Lock files npm
/package-lock.json

# Prisma client généré
.prisma/
apps/frontend/package-lock.json
apps/frontend/tsconfig.tsbuildinfo
apps/frontend/src/stories/
apps/mobile/assets/
